<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/css/main.css" />
  <title>
    <%= title %>
  </title>

</head>

<body class="is-preload scanlines">
  <div class="container">
    <%- body %>
  </div>

  <footer id="footer">
    <ul class="copyright">
      <li>
        <a alt="text" href="#">placeholder</a> &trade; <span id="date"></span>.
      </li>
    </ul>
  </footer>

  <script src="/js/main.js"></script>
</body>

</html>